/*CUSTOM CSS*/

a {
    text-decoration: none;
}

.bg-nav-hero{
    position: relative;
    background: url(../assets/img/hero_background_2.jpg);
    background-size: cover;
    width: 100%;
    height: auto;

}




/*----------------------------------------------------NAVIGATION----------------------------------------------------*/

.nv-main{
    display: flex;
    justify-content: space-between;
}

.list-flex{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
}

.nv-logo{
    color: black;
}

.nv-logo:hover{
    color: gray;
    text-decoration: none;
}

.nv-item{
    list-style-type: none;
}

.nv-link{
    color: black;
    list-style-type: none;
}

.nv-link:hover{
    color: gray;
    text-decoration: none;
}


/*----------------------------------------------------ABOUT----------------------------------------------------*/

.row-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 992px){

    .three-col-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}
